.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
AULA_1/aula1.exe
AULA_1/Lista1Exercício2/.vscode/configurationCache.log
AULA_1/Lista1Exercício2/.vscode/launch.json
AULA_1/Lista1Exercício2/.vscode/dryrun.log
AULA_1/Lista1Exercício2/.vscode/targets.log
AULA_1/Lista1Exercício2/.vscode/tasks.json
Agenda/output/main.exe
Agenda/src/main.exe
Agenda/src/main.o
ExerciciosProgramacaoDescomplicada/Exercicio_03_Pilha.exe
ExerciciosProgramacaoDescomplicada/Exercicio_Fila.exe
TrabalhoPratico2/src/VersaoCompleta.exe
Agenda/src/main.exe
AlgoritimoseEstruturaDeDados/Agenda/src/main.exe
Exercicio_Semana 8/src/main.exe
Exercicio_Semana 8/src/main.o
Exercicio_Semana 8/.vscode/launch.json
Exercicio_Semana 8/.vscode/tasks.json
Agenda/output/main.exe
Agenda/output/main.exe
Agenda/src/main.exe
Exercicio_Semana 8/output/main.exe
Exercicio_Semana 8/output/main.exe
Nova pasta/.vscode/launch.json
Nova pasta/.vscode/tasks.json
Exercicio_Semana 8/output/main.exe
Exercicio_AVL/output/main.exe
Exercicio_AVL/src/main.exe
Exercicio_AVL/src/main.o
TrabalhoPratico3/src/main.exe
TrabalhoPratico3/src/main.o
Exercicio_AVL/src/main.o
Exercicio_AlgoritimosDeOrdenacao/src/main.exe
Exercicio_AlgoritimosDeOrdenacao/.vscode/tasks.json
Exercicio_AlgoritimosDeOrdenacao/.vscode/launch.json
TrabalhoPratico4/README.md
TrabalhoPratico4/src/main.o
TrabalhoPratico4/output/main.exe
TrabalhoPratico4/src/main.exe
